.sure-1 {
  text-align: center;
}

#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 150px;
}

#edit-page {
  display: none;
  img {
    margin-bottom: 30px;
  }
}

.header-title {
  text-align: center !important;
}
